<a href="https://colab.research.google.com/github/mtohamym/Pandas/blob/main/DATAFRAME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numpy array to Dataframe**

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [16]:
grades = np.array([[66,80,90,40,100],
                  [50,60,70,80,90],
                  [45,55,65,78,82],
                  [100,50,50,70,10],
                  [5,60,80,45,65]])

In [12]:
coursesnames = ['Math 1' , 'Programming' , 'Database1' , 'Algorithms' , 'Datamining']

In [13]:
students = ['tohamy' , 'mohammed' , 'mostafa' , 'kareem' , 'hesham']

In [17]:
sgrades = pd.DataFrame(grades , index=students , columns=coursesnames)

In [18]:
sgrades

          Math 1  Programming  Database1  Algorithms  Datamining
tohamy        66           80         90          40         100
mohammed      50           60         70          80          90
mostafa       45           55         65          78          82
kareem       100           50         50          70          10
hesham         5           60         80          45          65



---

# **series dictionary to Data frame**

In [61]:
math1s = pd.Series({'tohamy' : 66,'mohammed' : 50,'mostafa' : 45,'kareem' : 100,'hesham' : 5} , name='math1')

In [62]:
Dataminings = pd.Series({'tohamy' : 100,'mohammed' : 90,'mostafa' : 82,'kareem' : 10,'hesham' : 65}, name='Datamining')

In [63]:
Algorithmss = pd.Series({'tohamy' : 40,'mohammed' : 80,'mostafa' : 78,'kareem' : 70,'hesham' : 45}, name='Algorithms')

In [64]:
Programmings = pd.Series({'tohamy' : 80,'mohammed' : 60,'mostafa' : 55,'kareem' : 50,'hesham' : 60}, name='Programming')

In [65]:
Database1s = pd.Series({'tohamy' : 90,'mohammed' : 70,'mostafa' : 65,'kareem' : 50,'hesham' : 80}, name='Database1')

In [66]:
sgrades = pd.DataFrame({'math' : math1s , 'Programmings' :Programmings ,'Database1s' :Database1s,'Algorithmss' :Algorithmss,'Dataminings' :Dataminings} , index=students , )

In [67]:
sgrades

          math  Programmings  Database1s  Algorithmss  Dataminings
tohamy      66            80          90           40          100
mohammed    50            60          70           80           90
mostafa     45            55          65           78           82
kareem     100            50          50           70           10
hesham       5            60          80           45           65